<div class="panel mb25">
  <div class="panel-body">
    <div class="col-lg-12">
      <div class="row">
        <%= search_form_for @q, :url => approved_quizzes_quiz_creation_index_path do |f| %>
          <div class="col-lg-6">
            <%= f.search_field :subject, :class => 'form-control', :placeholder => 'Search quizzes by name...' %>
          </div>
          <div class="col-lg-5">
            <%= f.select :grade_id_eq, options_from_collection_for_select(Grade.all.order(:priority), :id, :name, 'grade_ids'),
              {:include_blank => 'All Standards'}, :class => 'form-control' %>
          </div>
          <div class="col-lg-1">
            <%= f.submit 'Search', :class => 'btn btn-default' %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>



<div class="panel mb25">
  <div class="panel-heading broder">
    <div class="col-sm-7">
      <h1>Approved Quiz Page</h1>
    </div>
  </div>
  <div class="panel-body">
     <div class="row no-margin">
        <table class="table table-responsive table-hover" id="table_body_unfinished">
          <tr>
            <th>#</th>
            <th>Quiz Name</th>
            <th>Subject</th>
            <th>Topic</th>
            <th>Grade</th>
            <th>Description</th>
            <th>Sample Question</th>
          </tr>
          <% @quizzes.each_with_index do |quiz_selection, i| %>
            <tr>
              <td><%= i + 1 %></td>
              <td><%= quiz_selection.name %></td>
              <td><%= quiz_selection.subject %></td>
              <td><%=quiz_selection.topic %></td>
              <td><%= quiz_selection.grades.map(&:name).join(",") %></td>
              <td><span data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= quiz_selection.description %>">Description</span></td>
              <td>
                <span data-container="body" data-trigger="hover" data-toggle="popover" data-placement="top" data-content="<%= quiz_selection.questions.present? ? quiz_selection.questions.first.text : Question.first.try(:text) %>">Question</span>
              </td>
            </tr>
          <% end %>
        </table>
     </div>
  </div>
</div>

<!-- popover -->
    <script>
    $(function () {
    $( "[data-toggle='popover']" ).popover( {container: 'body', html: 'true', trigger: 'hover'} );
     $('[data-toggle="tooltip"]').tooltip()
    })
    </script>