<div class="user-account-cont">
  <div class="header-home">
    <div class="container">
      <a class="logo" href="/">Cogli</a>
    </div>
  </div>
  <div class="container">
    <div class="row fadeInUp">
      <div class="col-md-6">

        <div class="welcome-cogli-text">
          <p>
            <span>Welcome</span> 
            to the Cogli Parent Portal!<br>
            Here You Can...
          </p>
          <ul>
            <li>Activate or Deactivate the App</li>
            <li>Choose Quizzes for Your Child’s Phone</li>
            <li>Monitor Activity and Learning Milestones</li>
          </ul>
        </div>

      </div>

      <div class="col-xs-12 col-md-5 pull-right">
        <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put, class: 'form-layout forget-pwd-form' }) do |f| %>

          <div class="sign-up-cont">
            <h1>Set a new Password</h1>

            <%= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <div class="form-group">
              <%= f.password_field :password, autofocus: true, autocomplete: "off", class: 'form-control', id: 'frg-pwd-1', placeholder: 'Password', required: true %>
            </div>
            <div class="form-group">
              <%= f.password_field :password_confirmation, autocomplete: "off", class: 'form-control', placeholder: 'Repeat Password', required: true %>
            </div>
            <div class="form-group">
              <%= f.submit "Change my password", :class => "btn-block" %>
            </div>

            <%= render "devise/shared/links" %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>


<script type="text/javascript">
  $(document).ready(function(){
    $(".forget-pwd-form").validate({

      rules: {
        "user[password]": {
          required: true,
          minlength: 8
        },
        "user[password_confirmation]": {
          equalTo: "#frg-pwd-1"
        }
      },
      messages: {
        "user[password]": {
          required: "Please provide a password",
          minlength: "Your password must be at least 8 characters long"
        },
        "user[password_confirmation]": {
          equalTo: "Password and Confirm Password does not match"
        }
      },
      submitHandler: function(form) {
        form.submit();
      }
    });

  });

</script>
